@font-face {
    font-family: 'Bangle';
    src: url('font/Bangle-Normal.eot');
    src: url('font/Bangle-Normal.eot?#iefix') format('embedded-opentype'), url('font/Bangle-Normal.woff2') format('woff2'), url('font/Bangle-Normal.woff') format('woff'), url('font/Bangle-Normal.ttf') format('truetype'), url('font/Bangle-Normal.svg#Bangle-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


nav {
    border-bottom: 1px solid #cecece;
}

    nav .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }

    nav .mt-2, nav .my-2 {
        margin-top: 0 !important;
    }

    nav .mb-2, nav .my-2 {
        margin-bottom: 0 !important;
    }
    nav .navbar-brand {
        font-family: Bangle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#maincontainer {
    margin-top: 15px;
}

body.dark {
    background-color: #212121;
    color: #ffffff;
}

    body.dark a {
        color: #cecece;
    }

    body.dark .card-body {
        background-color: #303030;
    }

    body.dark .card-header {
        background-color: #424242;
    }

    body.dark .card-toggler-href {
        color: #ffffff;
    }

    body.dark .card {
        border-color: #757575;
    }

    body.dark .jumbotron {
        background-color: #37474F;
    }

    body.dark .text-muted {
        color: #B0BEC5 !important;
    }

    body.dark td, body.dark th {
        border-top-color: #616161;
    }

    body.dark nav {
        border-bottom-color: #616161;
    }


.card {
    margin-bottom: 15px;
}

.card-body {
    font-size: 0.8rem;
}

.LevelDone {
    color: #757575;
}

#GrandTotalDiv div {
    border-bottom: 1px dotted #616161;
}

    #GrandTotalDiv div:after {
        content: attr(data-amount);
        right: 1.25rem;
        position: absolute;
        text-align: right;
    }

.jumbotron {
    position: relative;
}

#jumbotronContent a{
    text-decoration: underline;
}

#JumbotronChk{
    display: none;
}
    #JumbotronChk:checked + div {
        height: 35px;
        overflow: hidden;
        padding: 0;
    }
    #JumbotronChk:checked + div div {
        display: none;
    }

#JumbotronChkLabel {
    width: calc(100% - 30px);
    position: absolute;
}
    #JumbotronChkLabel:after {
        position: absolute;
        content: 'X';
        right: 11px;
        top: 4px;
        cursor: pointer;
        z-index: 3;
    }

.monsters_table {
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}